### Tugas

#### Nomor 1

In [29]:
import pandas as pd
df = pd.read_csv('../data/voice.csv')
df.head()

,meanfreq,sd,median,Q25,Q75,IQR,skew,kurt,sp.ent,sfm,...,centroid,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx,label
0,0.059781,0.064241,0.032027,0.015071,0.090193,0.075122,12.863462,274.402906,0.893369,0.491918,...,0.059781,0.084279,0.015702,0.275862,0.007812,0.007812,0.007812,0.000000,0.000000,male
1,0.066009,0.067310,0.040229,0.019414,0.092666,0.073252,22.423285,634.613855,0.892193,0.513724,...,0.066009,0.107937,0.015826,0.250000,0.009014,0.007812,0.054688,0.046875,0.052632,male
2,0.077316,0.083829,0.036718,0.008701,0.131908,0.123207,30.757155,1024.927705,0.846389,0.478905,...,0.077316,0.098706,0.015656,0.271186,0.007990,0.007812,0.015625,0.007812,0.046512,male
3,0.151228,0.072111,0.158011,0.096582,0.207955,0.111374,1.232831,4.177296,0.963322,0.727232,...,0.151228,0.088965,0.017798,0.250000,0.201497,0.007812,0.562500,0.554688,0.247119,male
4,0.135120,0.079146,0.124656,0.078720,0.206045,0.127325,1.101174,4.333713,0.971955,0.783568,...,0.135120,0.106398,0.016931,0.266667,0.712812,0.007812,5.484375,5.476562,0.208274,male

In [30]:
from sklearn.svm import SVC
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import StandardScaler

model = SVC(kernel='rbf')
x = df.drop(['label'], axis=1)
y = df.label.values

std = StandardScaler()
x = std.fit_transform(x)

X_train, X_test, y_train, y_test = train_test_split(x,y, test_size=0.3, random_state=30)
model.fit(X_train, y_train)

y_train_predic = model.predict(X_train)
acc_train_svm = accuracy_score(y_train, y_train_predic)

y_test_predic = model.predict(X_test)
acc_test_svm = accuracy_score(y_test, y_test_predic)

print(f'Hasil akurasi prediksi data train: {acc_train_svm}')
print(f'Hasil akurasi prediksi data test: {acc_test_svm}')

Hasil akurasi prediksi data train: 0.9855660802886784
Hasil akurasi prediksi data test: 0.9789695057833859

#### Nomor 2

In [31]:
data = pd.read_csv('../data/spam.csv', encoding='latin-1')
data = data.drop(data.iloc[:,2:], axis=1)

new_cols = {
    'v1': 'Labels',
    'v2': 'SMS'
}
data = data.rename(columns=new_cols)

new_labels = {
    'spam': 1,
    'ham': 0
}
data['Labels'] = data['Labels'].map(new_labels)

data.head()

   Labels                                                SMS
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...

In [32]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

X = data['SMS'].values 
y = data['Labels'].values 

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=50)
bow = CountVectorizer(stop_words='english') # memberikan stop_words untuk menghapus kata yang tidak bermakna
X_train = bow.fit_transform(X_train)
X_test = bow.transform(X_test)

mnb = MultinomialNB()
mnb.fit(X_train, y_train)

y_pred_train = mnb.predict(X_train)
acc_train_vectorizer = accuracy_score(y_train, y_pred_train)

y_pred_test = mnb.predict(X_test)
acc_test_vectorizer = accuracy_score(y_test, y_pred_test)

print(f'Hasil akurasi data train: {acc_train_vectorizer}')
print(f'Hasil akurasi data test: {acc_test_vectorizer}')

Hasil akurasi data train: 0.9946152120260264
Hasil akurasi data test: 0.9829596412556054

#### Nomor 3

In [33]:
data2 = pd.read_csv('../data/spam.csv', encoding='latin-1')
data2 = data2.drop(data2.iloc[:,2:], axis=1)

new_cols = {
    'v1': 'Labels',
    'v2': 'SMS'
}
data2 = data2.rename(columns=new_cols)

new_labels = {
    'spam': 1,
    'ham': 0
}
data2['Labels'] = data2['Labels'].map(new_labels)

data2.head()

   Labels                                                SMS
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...

In [34]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfid = TfidfVectorizer(stop_words='english')

X = data2['SMS'].values 
y = data2['Labels'].values 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=50)
X_train = tfid.fit_transform(X_train)
X_test = tfid.transform(X_test)

mnb2 = MultinomialNB()
mnb2.fit(X_train, y_train)

y_pred_train = mnb2.predict(X_train)
acc_train_tfid = accuracy_score(y_train, y_pred_train)

y_pred_test = mnb2.predict(X_test)
acc_test_tfid = accuracy_score(y_test, y_pred_test)

print(f'Hasil akurasi data train: {acc_train_tfid}')
print(f'Hasil akurasi data test: {acc_test_tfid}')

Hasil akurasi data train: 0.9842943684092439
Hasil akurasi data test: 0.9605381165919282

##### Perbandingan dan Kesimpulan

In [35]:
print(f'Hasil akurasi data train menggunakan CountVectorizer: {acc_train_vectorizer}')
print(f'Hasil akurasi data test menggunakan CountVectorizer: {acc_test_vectorizer}')
print(f'Hasil akurasi data train menggunakan TF-IDF: {acc_train_tfid}')
print(f'Hasil akurasi data test menggunakan TF-IDF: {acc_test_tfid}')

Hasil akurasi data train menggunakan CountVectorizer: 0.9946152120260264
Hasil akurasi data test menggunakan CountVectorizer: 0.9829596412556054
Hasil akurasi data train menggunakan TF-IDF: 0.9842943684092439
Hasil akurasi data test menggunakan TF-IDF: 0.9605381165919282

Kesimpulan : Jika data text ditransformasi menjadi token menggunakan fitur CountVectorizer, maka training model menggunakan data tersebut akan menghasilkan keakurasian yang lebih tinggi dibandingkan dengan data yang ditransformasi menggunakan fitur TF-IDF