# Tugas

### Nomor 1

In [1]:
# import library
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

df = pd.read_csv('../docs/voice.csv')

df.head()

,meanfreq,sd,median,Q25,Q75,IQR,skew,kurt,sp.ent,sfm,...,centroid,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx,label
0,0.059781,0.064241,0.032027,0.015071,0.090193,0.075122,12.863462,274.402906,0.893369,0.491918,...,0.059781,0.084279,0.015702,0.275862,0.007812,0.007812,0.007812,0.000000,0.000000,male
1,0.066009,0.067310,0.040229,0.019414,0.092666,0.073252,22.423285,634.613855,0.892193,0.513724,...,0.066009,0.107937,0.015826,0.250000,0.009014,0.007812,0.054688,0.046875,0.052632,male
2,0.077316,0.083829,0.036718,0.008701,0.131908,0.123207,30.757155,1024.927705,0.846389,0.478905,...,0.077316,0.098706,0.015656,0.271186,0.007990,0.007812,0.015625,0.007812,0.046512,male
3,0.151228,0.072111,0.158011,0.096582,0.207955,0.111374,1.232831,4.177296,0.963322,0.727232,...,0.151228,0.088965,0.017798,0.250000,0.201497,0.007812,0.562500,0.554688,0.247119,male
4,0.135120,0.079146,0.124656,0.078720,0.206045,0.127325,1.101174,4.333713,0.971955,0.783568,...,0.135120,0.106398,0.016931,0.266667,0.712812,0.007812,5.484375,5.476562,0.208274,male

In [2]:
new_labels = {
    'male' : 1,
    'female' : 0
}

# Encode label
df['label'] = df['label'].map(new_labels)

# Cek data
df.head()

,meanfreq,sd,median,Q25,Q75,IQR,skew,kurt,sp.ent,sfm,...,centroid,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx,label
0,0.059781,0.064241,0.032027,0.015071,0.090193,0.075122,12.863462,274.402906,0.893369,0.491918,...,0.059781,0.084279,0.015702,0.275862,0.007812,0.007812,0.007812,0.000000,0.000000,1
1,0.066009,0.067310,0.040229,0.019414,0.092666,0.073252,22.423285,634.613855,0.892193,0.513724,...,0.066009,0.107937,0.015826,0.250000,0.009014,0.007812,0.054688,0.046875,0.052632,1
2,0.077316,0.083829,0.036718,0.008701,0.131908,0.123207,30.757155,1024.927705,0.846389,0.478905,...,0.077316,0.098706,0.015656,0.271186,0.007990,0.007812,0.015625,0.007812,0.046512,1
3,0.151228,0.072111,0.158011,0.096582,0.207955,0.111374,1.232831,4.177296,0.963322,0.727232,...,0.151228,0.088965,0.017798,0.250000,0.201497,0.007812,0.562500,0.554688,0.247119,1
4,0.135120,0.079146,0.124656,0.078720,0.206045,0.127325,1.101174,4.333713,0.971955,0.783568,...,0.135120,0.106398,0.016931,0.266667,0.712812,0.007812,5.484375,5.476562,0.208274,1

In [3]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

# Memisahkan fitur dengan label menggunakan X sebagai fitur dan y sebagai label
X = df.iloc[:, :20].values
y = df['label'].values

std = StandardScaler()  # membuat objek dari StandartScaler
X = std.fit_transform(X)

# split data training dan testing
X_train, X_test, y_train, y_test = train_test_split(X, y, train_size = 0.8, test_size=0.2, random_state=1)
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3168 entries, 0 to 3167
Data columns (total 21 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   meanfreq  3168 non-null   float64
 1   sd        3168 non-null   float64
 2   median    3168 non-null   float64
 3   Q25       3168 non-null   float64
 4   Q75       3168 non-null   float64
 5   IQR       3168 non-null   float64
 6   skew      3168 non-null   float64
 7   kurt      3168 non-null   float64
 8   sp.ent    3168 non-null   float64
 9   sfm       3168 non-null   float64
 10  mode      3168 non-null   float64
 11  centroid  3168 non-null   float64
 12  meanfun   3168 non-null   float64
 13  minfun    3168 non-null   float64
 14  maxfun    3168 non-null   float64
 15  meandom   3168 non-null   float64
 16  mindom    3168 non-null   float64
 17  maxdom    3168 non-null   float64
 18  dfrange   3168 non-null   float64
 19  modindx   3168 non-null   float64
 20  label     3168 non-null   int64
dtypes: float64(20), int64(1)
memory usage: 519.9 KB

In [4]:
df.head()

,meanfreq,sd,median,Q25,Q75,IQR,skew,kurt,sp.ent,sfm,...,centroid,meanfun,minfun,maxfun,meandom,mindom,maxdom,dfrange,modindx,label
0,0.059781,0.064241,0.032027,0.015071,0.090193,0.075122,12.863462,274.402906,0.893369,0.491918,...,0.059781,0.084279,0.015702,0.275862,0.007812,0.007812,0.007812,0.000000,0.000000,1
1,0.066009,0.067310,0.040229,0.019414,0.092666,0.073252,22.423285,634.613855,0.892193,0.513724,...,0.066009,0.107937,0.015826,0.250000,0.009014,0.007812,0.054688,0.046875,0.052632,1
2,0.077316,0.083829,0.036718,0.008701,0.131908,0.123207,30.757155,1024.927705,0.846389,0.478905,...,0.077316,0.098706,0.015656,0.271186,0.007990,0.007812,0.015625,0.007812,0.046512,1
3,0.151228,0.072111,0.158011,0.096582,0.207955,0.111374,1.232831,4.177296,0.963322,0.727232,...,0.151228,0.088965,0.017798,0.250000,0.201497,0.007812,0.562500,0.554688,0.247119,1
4,0.135120,0.079146,0.124656,0.078720,0.206045,0.127325,1.101174,4.333713,0.971955,0.783568,...,0.135120,0.106398,0.016931,0.266667,0.712812,0.007812,5.484375,5.476562,0.208274,1

In [5]:
# import fungsi dari library sklearn
from sklearn import metrics
from sklearn.svm import SVC

# inisiasi SVM
svc=SVC()

svc.fit(X_train,y_train)
y_pred = svc.predict(X_test)
acc = metrics.accuracy_score(y_test,y_pred)
print(f'Accuracy Score : {int(acc * 100)}%')

Accuracy Score : 97%

### Nomor 2

In [6]:
from sklearn.feature_extraction.text import CountVectorizer

df = pd.read_csv('../docs/spam.csv', encoding='latin-1', usecols=["v1", "v2"])
df.columns = ["labels", "message"]

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5572 entries, 0 to 5571
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   labels   5572 non-null   object
 1   message  5572 non-null   object
dtypes: object(2)
memory usage: 87.2+ KB

In [7]:
new_labels = {
    'spam': 1,
    'ham': 0
}

# encode label
df['labels'] = df['labels'].map(new_labels)
df.head()

   labels                                            message
0       0  Go until jurong point, crazy.. Available only ...
1       0                      Ok lar... Joking wif u oni...
2       1  Free entry in 2 a wkly comp to win FA Cup fina...
3       0  U dun say so early hor... U c already then say...
4       0  Nah I don't think he goes to usf, he lives aro...

In [8]:
X = df["message"]
y = df["labels"]

Fitur CountVectorizer dengan mengaktifkan stop_words

In [9]:
# split data training dan testing
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 50, test_size = 0.3)

cv = CountVectorizer(stop_words = 'english')

X_train = cv.fit_transform(X_train)
X_test = cv.transform(X_test)

In [10]:
print(len(cv.get_feature_names_out()))
print(f'Dimensi data: {X_train.shape}')

6960
Dimensi data: (3900, 6960)

In [11]:
from sklearn.naive_bayes import MultinomialNB

# Inisiasi MultinomialNB
mnb = MultinomialNB()

mnb.fit(X_train, y_train)

y_pred_train_mnb = mnb.predict(X_train)

acc_train_mnb = metrics.accuracy_score(y_train, y_pred_train_mnb)

y_pred_test_mnb = mnb.predict(X_test)

# Evaluasi akurasi data training
acc_test_mnb = metrics.accuracy_score(y_test, y_pred_test_mnb)

# Print hasil evaluasi
print(f'Hasil akurasi data train: {acc_train_mnb}')
print(f'Hasil akurasi data test: {acc_test_mnb}')

Hasil akurasi data train: 0.9935897435897436
Hasil akurasi data test: 0.9832535885167464

### Nomor 3

In [12]:
from sklearn.feature_extraction.text import TfidfVectorizer

# Split data training dan testing
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=50)

# Inisiasi TfidfVectorizer
tfidf = TfidfVectorizer(stop_words='english')

X_train = tfidf.fit_transform(X_train)

X_test = tfidf.transform(X_test)

In [13]:
print(len(tfidf.get_feature_names_out()))
print(f'Dimensi data: {X_train.shape}')

6960
Dimensi data: (3900, 6960)

In [14]:
from sklearn.naive_bayes import MultinomialNB 

# Inisiasi MultinomialNB
mnb = MultinomialNB()

mnb.fit(X_train, y_train)

y_pred_train_mnb = mnb.predict(X_train)

train_acc_mnb = metrics.accuracy_score(y_train, y_pred_train_mnb)

y_pred_test_mnb = mnb.predict(X_test)

# Evaluasi akurasi data training
test_acc_mnb = metrics.accuracy_score(y_test, y_pred_test_mnb)

# Print hasil evaluasi
print(f'Hasil akurasi data train: {train_acc_mnb}')
print(f'Hasil akurasi data test: {test_acc_mnb}')

Hasil akurasi data train: 0.9841025641025641
Hasil akurasi data test: 0.9635167464114832

### Kesimpulan

Berdasarkan hasil akurasi data train dan data test pada model klasifikasi Multinomial Naive Bayes yang menggunakan 2 fitur, yaitu CountVectorizer dengan mengaktifkan stop_words dan TF-IDF dengan mengaktifkan stop_words, dapat disimpulkan bahwa fitur terbaik pada kasus data spam.csv adalah CountVectorizer karena menghasilkan akurasi yang lebih baik dibandingkan TF-IDF